* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #862828;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: #f1c40f;
}

.auth-buttons {
  display: flex;
}

.btn {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.signup {
  background-color: #28a745;
  color: white;
}

.signin {
  background-color: #007bff;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

/* ******************************SignupForm***************************** */
.signup-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.signup-form input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}